body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    height: 100vh;
    background-color: #293995;
}

.usu {
    bottom: 0;
    border: 2px solid #141414;
    height: 400px;
    max-width: 330px;
    overflow: auto;
    background: rgb(255, 255, 253);
    border-radius: 8px;
    margin: 130px auto 20px; 
    padding: 20px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.usui {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
