body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    height: 100vh;
    background-color: #293995;
}

.usu {
    position: fixed;
    bottom: 0;
    right: 7px;
    border: 3px solid #3f4146;
    height: 350px;
    width: 330px;
    overflow: auto;
    background: rgb(236, 234, 122);
    z-index: 9;
    border-radius: 8px;
}

.usui {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
